/version1/dataset/train*/
/version1/dataset/val*/
/version1/dataset/test*/
/version1/dataset/

/version2/dataset/train*/
/version2/dataset/val*/
/version2/dataset/test*/
/version1/dataset/

/for testing in presentation/
/version1/web/static/uploads*/
/version2/web/static/uploads*/


venv/
.env